@{
    ViewBag.Title = "Home";
}

@Html.Partial("_Banner")

<div class="blog br-white black">
    <!-- Container -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <!-- Posts -->
            @*    <div class="posts">*@
                    <!-- Post One -->
                    <div class="entry">
                        <h1 >Welcome To Charisma</h1>
                        <hr />
                        <p>
                            <img src="~/img/about-us/charisma.png" class="pull-left paddingright img-responsive"  alt="charisma.png" style="margin-right:10px;"/>
                        Charisma Software Solutions is specialized in Web Application Development Software Development, and Knowledge Process Outsourcing (KPO) organization based in Nasik, Maharashtra. Charisma Software Solutions prompt company that survives for new ideas, innovations and technology. We are focused on delivering smart, endeavor business solutions that are help to grow across the world for accepting new challenges.</p>
<p>We assets our customers on priority and give the satisfactions with great deliverable results. Charisma Software solutions effort for efficient Web Design and Development, Software Applications and Data Processing that provides a quality results for our customers and don't be give up until satisfaction is reach.</p>
<p>Our in-house team has several years of experience under its strap in the IT domain of developing modified and fully unified systems for a variety of business.</p>
<p>Our team is fully skilled and trained in web design and development, software application, SEO (Search engine optimization) and data processing. We understand the project requirements and can build unique enterprise application.</p>
<p>Let us help to expand your business!</p>
                        <a href="@Url.Action("About", "Home")" class="btn btn-info pull-right">Read More</a>
                    </div>
                  @*  <div class="clearfix"></div>
                </div>*@
            </div>

            @*<div class="col-md-4 col-sm-4">
                <!-- Sidebar -->
                <div class="sidebar">
                    <!-- Header -->
                    <h4 class="br-orange"><i class="fa fa-gift"></i>RECENT POSTS</h4>
                    <!-- Widget -->
                    <div class="widget">
                        <ul>
                            <li><a href="#">Totam rem aperiam, eaque ipsa quae</a></li>
                            <li><a href="#">Similique sunt in culpa qui</a></li>
                            <li><a href="#">Which of us ever undertakes</a></li>
                            <li><a href="#">Temporibus autem quibusdam et aut officiis</a></li>
                            <li><a href="#">Quis autem vel eum iure</a></li>
                        </ul>
                    </div>

                    <h4 class="br-pink"><i class="fa fa-tags"></i>Tag </h4>
                    <!-- Widget -->
                    <div class="widget">
                        <a href="#" class="btn btn-primary btn-lg">Variations Passages </a>&nbsp;
                        <a href="#" class="btn btn-info btn-lg">Classical</a>&nbsp;
                        <a href="#" class="btn btn-danger btn-lg">Predefined</a>&nbsp;
                        <a href="#" class="btn btn-pink btn-lg">embarrassing</a>&nbsp;
                        <a href="#" class="btn btn-warning btn-lg">Publishing</a>&nbsp;
                        <a href="#" class="btn btn-success btn-lg">Generated</a>&nbsp;
                        <a href="#" class="btn btn-violet btn-lg">Hampden-Sydney</a>&nbsp;
                        <a href="#" class="btn btn-black btn-lg">Accompanied</a>
                    </div>
                </div>
            </div>*@

        </div>
    </div>
</div>

@*<div class="testimonials br-purple block">
    <!-- Container -->
    <div class="container">
        <!-- Carousel -->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <!-- Carousel Inner -->
            <div class="carousel-inner">
                <!-- Item -->
                <div class="item active">
                    <!-- Image -->
                    <img src="img/testimonials/transparent.png" alt="" class="img-responsive" />
                    <!-- Carousel Caption -->
                    <div class="carousel-caption">
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <!-- Image -->
                                <img src="~/img/about-us/friends_logo.png" alt="" class="img-responsive"/>
                            </div>
                            <div class="col-md-9 col-sm-8">
                                <!-- Content Right -->
                                <div class="content-right">
                                    <!-- Paragraph -->
                                    <p>Friends Enterprises are a upcomming BPO ndustry in Nashik with a motive of changing ethics of bpo industry in nashik city. we are a upcomming bpo industry in nashik with a motive of changing ethics of bpo industry in nashik city.</p>
                                    <!-- Small -->
                                    <small class="br-black">Visit Site</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="img/testimonials/transparent.png" alt="" class="img-responsive" />
                    <div class="carousel-caption">
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <img src="~/img/about-us/dayasagar_logo.png" alt="" class="img-responsive"/>
                            </div>
                            <div class="col-md-9 col-sm-8">
                                <div class="content-right">
                                    <p>Dayasagar Social & Educational Trust (DSET) is an Endless Journey for us. We are a NON Govt. Social Service Regd. Organization (NGO) with a non political, non religious and non commercial character.</p>
                                    <small class="br-black">Von R. Glitschka</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="img/testimonials/transparent.png" alt="" class="img-responsive" />
                    <div class="carousel-caption">
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <img src="img/testimonials/1.jpg" alt="" class="img-responsive" />
                            </div>
                            <div class="col-md-9 col-sm-8">
                                <div class="content-right">
                                    <p>Dabore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco nisi ut aldddc laboris nisi ut aliquip exedfsd quis nostrud exercitation ullamco.</p>
                                    <small class="br-black">Pablo Frank</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="" href="#carousel-example-generic" data-slide="prev">
            <span class="fa fa-chevron-left larrow br-black"></span>
        </a>&nbsp;
		<a class="" href="#carousel-example-generic" data-slide="next">
            <span class="fa fa-chevron-right rarrow br-black"></span>
        </a>
    </div>
</div>*@

<style>
    .blog .entry p { 
    margin: 10px 0px;
}
</style>